<div class="container">
  <h3>Pipes App</h3>
  <div class="row">
    <table>
      <thead>
      <tr>
        <th>Valor</th>
        <th>Nombre</th>
        <th>Resultado</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>1.00000</td>
        <td>Number</td>
        <td>{{1.312121|number:'1.1-3'}}</td>
      </tr>
      <tr>
        <td>12.34</td>
        <td>Currency</td>
        <td>{{12.36|currency:'USD'}}</td>
      </tr>
      <tr>
        <td>Ronal</td>
        <td>Uppercase</td>
        <td>{{'Ronal'| uppercase}}</td>
      </tr>
      <tr>
        <td>RONAL ADRIAN RUIZ AVILA</td>
        <td>Lowercase</td>
        <td>{{'RONAL ADRIAN RUIZ AVILA'| lowercase}}</td>
      </tr>
      <tr>
        <td>LoS PadRes</td>
        <td>Uppercase</td>
        <td>{{'LoS PadRes'| titlecase}}</td>
      </tr>
      <tr>
        <td>LoS PadRes</td>
        <td>Uppercase</td>
        <td>{{'LoS PadRes'| titlecase}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>{{passwordItem|password:passwordBand}}</h3>
    <div class="input-field col s6">
      <input id="icon_prefix" [(ngModel)]="passwordItem" [type]="(!passwordBand)?'text':'password'" class="validate">
      <label for="icon_prefix">First Name</label>
      <i (click)="password()" class="material-icons prefix">visibility</i>
    </div>
  </div>
  <div class="row">
    <iframe width="560" height="315" [src]=" video | urlsecure: 'https://www.youtube-nocookie.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

